Tests: python3-crontab
Depends: python3-crontab, python, python3-pytest, python3-all
Restrictions: allow-stderr

Tests: python-crontab
Depends: python-crontab, python-pytest
Restrictions: allow-stderr
